<ul class="nav nav-pills flex-column">
    {% for cat in cats %}
        <li class="nav-item" data-search="{{ cat.id }}">
            {% if cat == act_cat %}
                <a class="nav-link active" href="{% url 'rango:show_category' cat.slug %}">{{ cat.name }}</a>
            {% else %}
                <a class="nav-link" href="{% url 'rango:show_category' cat.slug %}">{{ cat.name }}</a>
            {% endif %}
        </li>
    {% empty %}
        <li><strong>There are no categories present.</strong></li>
    {% endfor %}
</ul>